@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@400;500&display=swap');

.Home {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.upper-home{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}


.dictionary {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.def-intro {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
}

.title-subword {
    align-self: flex-end;
    color: #008bda;
}


.def-body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.pronunciation {
    color: #008bda;
}

.definitions {
    list-style: number;
}

.learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.learn-more p{
    color: #008bda;
}

.learn-more svg{
    color: #969696;
}




@media (min-width: 401px) {
    .Home {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15rem;
    }
    .upper-home{
        display: flex;
        flex-direction: row;
        align-self: flex-start;
    }

    .upper-home svg:first-of-type {
        position: relative;
        top: 23rem;
        left: 23rem;
        scale: 1.1;
        filter: drop-shadow(0.5rem 0.6rem 0.5rem rgb(0 0 0 / 0.4));
    }

    .upper-home svg:nth-of-type(2) {
        position: relative;
        top: 10rem;
        left: 17rem;
        scale: 1;
        filter: drop-shadow(0.5rem 0.6rem 0.5rem rgb(0 0 0 / 0.4));
    }

    .upper-home svg:nth-of-type(3) {
        position: relative;
        top: 20rem;
        left: 13rem;
        scale: 1.5;
        filter: drop-shadow(0.5rem 0.6rem 0.2rem rgb(0 0 0 / 0.4));
    }

    .dictionary {
        width: 580px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-self: flex-start;
        padding-left:15rem;
        padding-top: 10rem;
    }

    .def-intro {
        font-family: 'Playfair Display', serif;
        display: flex;
        flex-direction: row;
        gap: 1rem
    }

    h1 {
        font-size: 8rem;
    }

    .title-subword {
        align-self: flex-end;
        font-size: 2rem;
        color: #008bda;
    }

    .line {
        border: 2px solid #969696;
        width: 579px;
        border-radius: 2px;
    }

    .def-body {
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .pronunciation {
        font-size: 1.5rem;
        color: #008bda;
    }

    .definitions {
        list-style: number;
        padding-left: 1.2rem;
        font-size: 1.2rem;
        line-height: 150.5%;
    }

    li {
        padding-left: 0.5rem;
    }

    .learn-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-family: 'Lato', sans-serif;
    }

    .learn-more p{
        font-size: 1.5rem;
        color: #008bda;
    }

    .learn-more svg{
        color: #969696;
    }
}

@media (max-width: 400px) {
    .dictionary {
        width: 282px;
        height: 70%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 20vh;
        justify-content: center;
    }

    .def-intro {
        gap: 0.5rem;
    }

    .def-body {
        gap: 0.5rem;
    }

    .line {
        width: 282px;
    }

    .title-word {
        font-size: 4rem;
    }

    .title-subword {
        font-size: 1rem;
    }

    .pronunciation {
        font-size: 1rem;
    }

    .definitions {
        font-size: 1rem;
        padding-left: 1.25rem;
        list-style-type: decimal;
        line-height: 1.25;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .upper-home{
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
    }

    .upper-home svg:first-of-type {
        width: auto;
        height: auto;
        position: relative;
        scale: 2;
        top: 5rem;
        right: 5rem;
        filter: drop-shadow(-1px 1px 1px rgb(0 0 0 / 0.4));
    }

    .upper-home svg:nth-of-type(2) {
        width: auto;
        height: auto;
        position: relative;
        scale: 1.2;
        bottom: 2rem;
        right: 8rem;
        filter: drop-shadow(-1px 1px 1px rgb(0 0 0 / 0.4));
    }

    .upper-home svg:nth-of-type(3) {
        width: auto;
        height: auto;
        position: relative;
        scale: 1.5;
        bottom: 21rem;
        left: 8rem;
        filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
    }

    .line {
        border: 1px solid #969696;
        border-radius: 1rem;
    }

    .learn-more {
        height: 20vh;
    }

    .learn-more:hover {
        scale: 1.1;
        transition: 0.3s ease-in-out;
    }

}