@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.Origin {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    padding: 3rem 0;
    margin: auto;
    width: 100vw;
}
.Origin p {
    font-family: 'Lato', sans-serif;
    width: 18.125rem;
    font-size: 1.5rem;
    line-height: 1.2;
}

.facts{
    text-align: left;
    align-self: flex-start;
    padding-left: 1rem;
}

.career{
    text-align: right;
    align-self: flex-end;
    padding-right: 1rem;
}

.img-group {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

#RL-img {
    height: 95px;
    width: 171px;
    padding-top: 2rem;
}
#Minion-img {
    height: 132px;
    width: 132px;
}

.Origin-Header {
    font-family: Koulen;
    font-size: 9.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 76.5%; /* 7.41094rem */
    letter-spacing: -0.29063rem;
    background: linear-gradient(90deg, #1C9B3F 0%, rgba(255, 170, 5, 0.85) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-start;
    padding-left: 4rem;
}